@use "variables" as *;

.cv-section--education {
  background-color: $color-dark;
  color: #fff;
  font-family: "Poppins", sans-serif;
  margin-bottom: 25px;
  .cv-section__header {
    position: relative;
    display: flex;
    height: 22px;
    justify-content: space-between;
    align-items: center;
    background-color: #2e3034; 
    margin-bottom: $space-unit * 2;
    padding: 0 24px 0 0;
    h2 {
      position: relative;
      font-family: "Bebas Neue", sans-serif;
      font-size: 1.9rem;
      text-transform: uppercase;
      color: #fff;
      letter-spacing: 0.15rem;
      padding-left: 85px;
      padding-right: 11px;
      display: inline-block;
      margin-bottom: 0;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 8px;
        height: 22px;
        width: 8px;
        background-color: $color-yellow; 
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 6px;
        right: -3px;
        width: 15px;
        height: 2px;
        background-color: $color-yellow; 
      }
    }

    .toggle-btn {
      background: none;
      border: none;
      color: #fff;
      font-size: 0.8rem;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .cv-section__content {
    display: flex;
    justify-content: space-between;
    gap: $space-unit * 3;
    padding-left: 62px;
    .cv-education{
      width: 100%;
      display: flex;
      padding: 0 $space-unit*3;
    }
    .cv-education__item {
      flex: 1;

      h3 {
        font-size: 1rem;
        margin-top: 10px;
        margin-bottom: 25px;
        font-weight: 500;
        color: #fff;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
      }

      p {
        font-size: 0.9rem;
        color: #cfd3d8;
        margin-bottom: 0;
      }
      span{
        color: #cfd3d8;
      }
      .cv-period { 
        color: $color-yellow;
        font-weight: 600;
        font-size: 0.85rem;
      }
    }
  }
}
