<section class="cv-section cv-section--light cv-section--about">
  <div class="cv-section__header">
    <h2 class="cv-section__title">ABOUT ME</h2>
  </div>

  <div class="cv-section__content">
    <p>
    Lorem ipsum dolor a
    consectetur adipiscing elitse elusmod tempor incididunt labore dolore magna aliqua
    Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan is 
    facilisis the dolore magna aliqua dolore magna aliqua dolore magna aliqua.
    </p>
  </div>
</section>
