<section class="cv-section cv-section--light cv-section--contact">
  <div class="cv-section__header">
    <h2 class="cv-section__title">CONTACT INFO</h2>
  </div>

  <div class="cv-section__content">
    <ul class="cv-contact list-unstyled">
      <li>
        <span class="cv-contact__label">PHONE</span>
        <span class="cv-contact__value">+001 234 567 89</span>
      </li>
      <li>
        <span class="cv-contact__label">EMAIL</span>
        <span class="cv-contact__value">name@email.com</span>
      </li>
      <li>
        <span class="cv-contact__label">AREA</span>
        <span class="cv-contact__value">Your Street Address Here</span>
      </li>
    </ul>
  </div>
</section>
