<section class="cv-header">
  <div class="cv-header__inner">
    <div class="cv-header__left">
      <h1 class="cv-header__name">
        <span
          id="personFirstName"
          class="cv-header__name-first"
        >
        </span>
        <span
          id="personLastName"
          class="cv-header__name-last"
        >  
        </span>
      </h1>
      <p
        id="personRole"
        class="cv-header__role"
      >
      </p>
    </div>

    <div class="cv-header__right">
      <div class="cv-header__yellow"></div>

      <div class="cv-header__photo-wrapper">
        <img
          src="imgs/profile.jpeg"
          alt="Profile photo"
          class="cv-header__photo"
        />

        <span class="cv-header__line cv-header__line--left-dark"></span>
        <span class="cv-header__line cv-header__line--middle-yellow"></span>
        <span class="cv-header__line cv-header__line--bottom-white"></span>
      </div>
    </div>
  </div>
</section>
