<section class="cv-section cv-section--light cv-section--hobbies">
  <div class="cv-section__header">
    <h2 class="cv-section__title">HOBBIES</h2>
  </div>

  <div class="cv-section__content">
    <ul class="cv-hobbies">
      <li class="cv-hobbies__item">
        <img src="imgs/travel.svg" alt="Travel" class="cv-hobbies__icon" />
        <span class="cv-hobbies__label">Travel</span>
      </li>

      <li class="cv-hobbies__item">
        <img src="imgs/audio.svg" alt="Music" class="cv-hobbies__icon" />
        <span class="cv-hobbies__label">Music</span>
      </li>

      <li class="cv-hobbies__item">
        <img src="imgs/document.svg" alt="Writing" class="cv-hobbies__icon" />
        <span class="cv-hobbies__label">Writing</span>
      </li>

      <li class="cv-hobbies__item">
        <img src="imgs/chess.svg" alt="Chess" class="cv-hobbies__icon" />
        <span class="cv-hobbies__label">Chess</span>
      </li>
    </ul>
  </div>
</section>
