$font-main: "Montserrat", Arial, sans-serif;

$font-role: "Poppins", sans-serif;
$color-page-bg: #e5e5e5;
$color-card-bg: #ffffff;
$color-dark: #262a33;
$color-dark-softer: #303744;
$color-yellow: #ffcc18;
$color-text-main: #333333;
$color-text-muted: #0f0f0fc6;
$color-border-light: #eeeeee;

$space-unit: 8px;

$radius-sm: 4px;
$radius-md: 6px;
